<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>Link</mat-label>
    <input type="url" matInput [(ngModel)]="url" [formControl]="linkFormControl" placeholder="Ex. youtube.com">
    @if (linkFormControl.hasError('required')) {
      <mat-error>Link is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Filename</mat-label>
    <input type="text" matInput [(ngModel)]="fileName" [formControl]="linkFormControl" placeholder="Ex. erica.mp3">
    @if (linkFormControl.hasError('required')) {
      <mat-error>Filename is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  
  <slider></slider><br>
  <a mat-raised-button (click)="addSound()">Download</a>
</mat-dialog-content>



