/* DashboardComponent's private CSS styles */

.appTitle {
  text-align: center;
}

.sound-menu {
  padding: 0;
  margin: auto;
  max-width: 1500px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.sound-button {
  background-color: #578399;
  border-radius: 6px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: 0.5rem auto;
  box-sizing: border-box;
  cursor: pointer;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}


.sound-button:hover {
  background-color: #084040;
}

.sound-button-clicked{
  background-color: #084040;
  border-radius: 6px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: 0.5rem auto;
  box-sizing: border-box;
  cursor: pointer;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  .sound-button, .sound-button-clicked {
    width: 14%;
    box-sizing: content-box;
  }
}
